/*RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

main{
    padding: auto;
    background-color: aqua;
}

h1{
    color: purple;
    text-align: center;
}