/*RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.container{
    padding: 50px;
    background-color: aqua;
}

.titolo{
    font-size: 100px;
    color: magenta;
    font-family: 'Hind Siliguri', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

.paragrafo{
    font-size: 20px;
    font-weight: bold;

}